html {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
  .portfolio-name{
    font-size:14px;
    font-weight: bold;
  }
   .myportfolio-profile-pic{
    height:25px;
    width:30px;
  }
  #card-container{
    max-height:300px;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
    width: 45px;
  }
  .notification{
    width:300px;
  }
  .notification p {
    font-size:0.75rem;
  }
  .notification-container{
    height:50px;
  }

  
}
@media screen and (min-width: 640px) {
  html {
    font-size: 14px;
  }
  .portfolio-name{
    font-size:16px;
    font-weight: bold;
  }
   .myportfolio-profile-pic{
    height:30px;
    width:35px;
  }
  #card-container{
    max-height:325px;
  }
  .fa {
    font-size: 25px;
    padding: 10px;
    width: 60px;
  }
  .notification{
    width:350px;
  }
  .notification p {
    font-size:0.80rem;
  }
  .notification-container{
    height:55px;
  }

  
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  .portfolio-name{
    font-size:20px;
    font-weight: bold;
  }
  .myportfolio-profile-pic{
    height:35px;
    width:40px;
  }
  #card-container{
    max-height:350px;
  }
  .fa {
    font-size: 30px;
    padding: 20px;
    width: 75px;
  }
  .notification{
    width:475px;
    height:60px;
  }
  .notification p {
    font-size:0.85rem;
  }
  .notification-container{
    height:60px;
  }

}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Hind Vadodara', sans-serif;
}
.App{
  min-height: 100vh;
  background-color: #161716;
  color:white;
  padding-bottom: 50px;
}

.navbar{
  background: transparent;
}

.landing{
  min-height: 100vh;
  min-width: 100%;
  margin:0;
  padding:0;
  background: url('/landing.jpg') center center / cover no-repeat;
  
 
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.card-body{
  color:black;
}

.auth-container{
  min-height: 100vh;
  min-width: 100%;
  margin:0;
  padding:0;
  background: url('/landing.jpg') center center / cover no-repeat;

}


#portfolio-nav .nav-link{
  color:white;
}


.album img{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  height: 400px;
  width: 600px;
}
.album:hover img {
  opacity: .25;
  cursor:pointer;
}

.album:hover h4{
  color:white;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



.loading-icon {
  border: 5px solid #fff; 
  border-top: 5px solid #5cb85c;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin:0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#home-header{
  background: url('/pattern2.jpeg') center center / cover no-repeat;
}

#loading-container{
  width:200px;
  height:200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}


#no-matches{
  width:400px;
  height:400px;
  margin:0 auto;
}

.modal{
  color:black;
}

.album { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.album h4 { 
   position: absolute; 
   color:transparent;
   top: 200px; 
   left: 0; 
   width: 100%; 
}

.photo-container img{
  width:100%;
}


.service-btn{
  opacity: 0;
}

h3:hover .service-btn{
  opacity: 100;
}

.fa {
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.notification p{
  word-wrap: break-word;  
}


.dropdown-item:hover div{
   cursor:pointer;
}


