html {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
  .profile-pic{
    height: 60px;
    width:60px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  .profile-pic{
    height: 80px;
    width:80px;
  }
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Hind Vadodara', sans-serif;
}
.App{
  min-height: 100vh;
  background-color: black;
  color:white;
  padding-bottom: 50px;
}

.navbar{
  background: transparent;
}

.landing{
  min-height: 100vh;
  min-width: 100%;
  margin:0;
  padding:0;
  background: url('/landing.jpg') center center / cover no-repeat;
  
 
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.card-body{
  color:black;
}

.auth-container{
  min-height: 100vh;
  min-width: 100%;
  margin:0;
  padding:0;
  background: url('/landing.jpg') center center / cover no-repeat;

}


#portfolio-nav .nav-link{
  color:white;
}


#card-container{
  max-height:350px;
}


.album img{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  height: 400px;
  width: 600px;
}
.album:hover img {
  opacity: .25;
  cursor:pointer;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.portfolio-name{
  font-size:20px;
  font-weight: bold;
}

.loading-icon {
  border: 16px solid #fff; 
  border-top: 16px solid #5cb85c;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}